<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>contact us</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">

  </head>
  <body>
    <div class="wrapper">
      <div class="header1">
        <div class="title">
          <p>Contact</p>
          <div class="logo">
            <a href="index.html">
            <img src="logo2.png" alt="logo2"class="logo" >
          </a>
          </div>
          <div class="menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="#"><li>NGO</li></a>
              <a href="#"><li>Donation</li></a>
              <a href="Medicine.html"><li>Medicine</li></a>
               <a href="about us.html"><li>About Us</li></a>
                <a href="Sign-In.html"><li>Sign in</li></a>
                 <a href="medicate registration.html"><li>sign UP</li></a>
              <a href="#"><li>More</li></a>

            </ul>


          </div>


        </div>
      </div>
    </div>
    <section id="Contact-sec">
		<div class=container2>
			<h2>Contact Us</h2>
			<p> Email us for lastest Updates </p>
    <div class="contact-form">
				<div>
					<i class="fa fa-map-marker"></i><span class="form-info"> univertry sargodha , Dhing shah,pial road kasur</span>
				    <br>
				  <i class="fa fa-mobile"></i><span class="form-info">+923084240421</span>
				    <br>
				   <i class="fa fa-phone"></i><span class="form-info">074-4444441</span>
				    <br>
				    <i class="fa fa-envelope"></i><span class="form-info">yousaf6593@gmail.com</span>

				</div>
				<div  class="form2">
					<form>
						<h3 style="color:#fff; font-family: sans-serif;text-align: center;margin-right: 90px;">FEEDBACK FORM</h3>
						<input type="text" name="t1" placeholder="Your Name" required >
						<input type="Email" name="t2" placeholder="Email" required>
						<input type="number" name="t3" placeholder="Phone Number"required>
						<input type="text" name="t4"placeholder=" City"required>
						<textarea name="Message" placeholder="Your Feedback" rows="5" required></textarea>
						<input type="submit" name="t5" value="Give Feedback">
					</form>

				</div>
			</div>

    </div>
  </section>
  <section class="imagemedicine1">
    <img src="image med\1.jpg" alt="does not display image" class="image11">
    <img src="image med\5.jpg" alt="does not display image" class="image22">
    <img src="image med\6.jpg" alt="does not display image" class="image33">

  </section>

    	</section>
      <footer>
        <div class="main-cotent">
          <div class="left box">
            <h2>About us</h2>
            <div class="content">
              <p>50% population of Pakistan don’t take their prescribed medication because they can’t afford it. With soaring copays, deductibles, and insurance costs,</p>
              <div class="social">
                <a href="#"><span class="fab fa-facebook-f"></span></a>
                <a href="https://twitter.com/YousafSarwar"><span class="fab fa-twitter"></span></a>
                <a href="#"><span class="fab fa-instagram"></span></a>
                <a href="https://youtu.be/k60OSl5quQ8"><span class="fab fa-youtube"></span></a>

              </div>
            </div>
          </div>
          <div class="center box">
            <h2>Address</h2>
            <div class="content">
              <div class="place">
                <span class="fas fa-map-marker"></span>
                <span class="text">Dhing shah,pial road kasur</span>

              </div>
              <div class="place">
                <span class="fas fa-phone"></span>
                <span class="text">+923090995731</span>

              </div>
              <div class="place">
                <span class="fas fa-envelope"></span>
                <span class="text">yousaf6593@gmail.com</span>

              </div>
            </div>
          </div>
      <div class="right box">
        <h2>Constact Us</h2>
        <div class="content">
          <form class="" action="index.html" method="post">
            <div class="email2">


            <div class="text" >Email </div>
                <input type="email  " required>


        </div>
        <div class="msg">
        <div class="text">Meassage</div>
            <textarea name="feadback" rows="2" cols="25" required></textarea>
            </div>
            <div class="btn2">
              <button type="button" >Send</button>
            </div>
          </form>
        </div>

      </div>
      </div>
      </footer>
  </body>
</html>
