<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Registration</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header1">
        <div class="title">
          <p>Registration</p>
          <div class="logo">
            <a href="index.html">
            <img src="logo2.png" alt="logo2"class="logo" >
           </a>
          </div>
          <div class="menu">
            <ul>
              <a href="index.html"><li>Home</li></a>
              <a href="#"><li>NGO</li></a>
              <a href="medicine.html"><li>Medicine</li></a>
              <a href="contact us.html"><li>Contact Us</li></a>
              <a href="about us.html"><li>About Us</li></a>
              <a href="Sign-In.html"><li>Sign in</li></a>
                <a href="#"><li>More</li></a>
            </ul>


          </div>


        </div>
      </div>
    </div>

    <div class="donor">
      <ul>
        <p><b>Donor Registration</b></p>
      </ul>
      <p class="pa">Use this form to register to donate medicine</p>


    </div>
<div class="reg">
    <form class=" form1" action="medicine Registration.html" method="post">

      <p><b>State</b></p>
      <select>
        <option value="">Lahore</option>
          <option value="">Islambad</option>
          <option value="">Multan</option>
          <option value="">Sargodha</option>
          <option value="">Karchi</option>
          <option value="">Kasur</option>
          <option value="">Lawalpindi</option>
          <option value="">Faisalabad</option>
          <option value="">Jung</option>
          <option value="">Sindh</option>

      </select> <br>
      <p id="inform"><b>Your Information</b></p>
     <p id="name"><b>Name</b></p>
      <input type="text" name="" value="" class="name1" placeholder="First Name"required >
      <input type="text" name="" value="" class="name2" placeholder="Last Name"required ><br>
      <p id="cell"><b>Cell Phone</b></p>
      <input type="number"  class="cell" placeholder="Phone No." pattern="[0-9]{11}"required >
      <p id="zip"><b>Postal Code</b></p>
      <input type="number" name="" value="" class="zip" placeholder="Code"required ><br>
      <p id="address"><b>Address</b></p>
         <textarea  class="address" rows="4"cols="75"> </textarea><br>
         <p id="email"><b>Email</b></p>
         <input type="text" ="email" value="" class="email" placeholder="Email"required >
         <p id="pass"><b>Password</b></p>
         <input type="password"  class="pass" placeholder="Password" required ><br>
         <p id="confirmpass"><b>Confirm Password</b></p>
         <input type="password"  class="confirmpass" placeholder=" RE_Enter_Password" required >
         <p id="radio"><b>Gentle </b></p>
         <input type="radio"value="a1" name="a" class="male1" >Male
<input type="radio"value="a1"name="a" class="male2" >Female
<br>
<input type="submit" name=" " value="Submit" class="submit">
    </form>
</div>

<footer>
  <div class="main-cotent">
    <div class="left box">
      <h2>About us</h2>
      <div class="content">
        <p>50% population of Pakistan don’t take their prescribed medication because they can’t afford it. With soaring copays, deductibles, and insurance costs,</p>
        <div class="social">
          <a href="#"><span class="fab fa-facebook-f"></span></a>
          <a href="https://twitter.com/YousafSarwar"><span class="fab fa-twitter"></span></a>
          <a href="#"><span class="fab fa-instagram"></span></a>
          <a href="https://youtu.be/k60OSl5quQ8"><span class="fab fa-youtube"></span></a>

        </div>
      </div>
    </div>
    <div class="center box">
      <h2>Address</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker"></span>
          <span class="text">Dhing shah,pial road kasur</span>

        </div>
        <div class="place">
          <span class="fas fa-phone"></span>
          <span class="text">+923090995731</span>

        </div>
        <div class="place">
          <span class="fas fa-envelope"></span>
          <span class="text">yousaf6593@gmail.com</span>

        </div>
      </div>
    </div>
<div class="right box">
  <h2>Constact Us</h2>
  <div class="content">
    <form class="" action="index.html" method="post">
      <div class="email2">


      <div class="text" >Email </div>
          <input type="email  " required>


  </div>
  <div class="msg">
  <div class="text">Meassage</div>
      <textarea name="feadback" rows="2" cols="25" required></textarea>
      </div>
      <div class="btn2">
        <button type="button" >Send</button>
      </div>
    </form>
  </div>

</div>
</div>
</footer>
</body>

</html>
