 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Medicine</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">


  </head>
  <body>
    <body>
      <div class="wrapper">
        <div class="header1">
          <div class="title">
            <p>Medicine</p>
            <div class="logo">
              <a href="index.html">
              <img src="logo2.png" class="logo" >
               </a>
            </div>
            <div class="menu">
              <ul>
                <a href="index.html"><li>Home</li></a>
                <a href="#"><li>NGO</li></a>
                <a href="donation.html"><li>Donation</li></a>
                <a href="contact us.html"><li>Contact Us</li></a>
                <a href="about us.html"><li>About Us</li></a>
                <a href="Sign-In.html"><li>Sign in</li></a>
                <a href="medicate Registration.html"><li>Sign Up</li></a>
                  <a href="#"><li>More</li></a>
              </ul>


            </div>


          </div>
        </div>
        </div>
        <section class="home">
             <div class="slider">
                <div class="slide active" style="background-image: url('med/1.jpg')">
                    <div class="container">
                        <div class="caption">
                            <h1> Donation To Medicine</h1>
                            <p>50% population of Pakistan don’t take their
                              prescribed medication because they can’t afford it. </p>
                            <a href="">DONATE NOW</a>
                        </div>
                    </div>
                </div>
                <div class="slide" style="background-image: url('med/2.jpg')">
                    <div class="container">
                        <div class="caption">
                            <h1> Donation To Medicine</h1>
                            <p>50% population of Pakistan don’t take their
                              prescribed medication because they can’t afford it.</p>
                            <a href="">DONATE NOW</a>
                        </div>
                    </div>
                </div>
                <div class="slide" style="background-image: url('med/3.jpg')">
                    <div class="container">
                        <div class="caption">
                            <h1>Donation To Medicine</h1>
                            <p>50% population of Pakistan don’t take their
                              prescribed medication because they can’t afford it.</p>
                            <a href="">DONATE NOW</a>
                        </div>
                    </div>
                </div>
                <div class="slide" style="background-image: url('med/4.jpg')">
                    <div class="container">
                        <div class="caption">
                            <h1>Donation To Medicine</h1>
                            <p>50% population of Pakistan don’t take their
                              prescribed medication because they can’t afford it.</p>
                            <a href="">DONATE NOW</a>
                        </div>
                    </div>
                </div>
                <div class="slide" style="background-image: url('med/5.jpg')">
                    <div class="container">
                        <div class="caption">
                            <h1>Donation To Medicine</h1>
                            <p>50% population of Pakistan don’t take their
                              prescribed medication because they can’t afford it.</p>
                            <a href="">Donation</a>
                        </div>
                    </div>
                </div>
             </div>

            <!-- controls  -->
            <div class="controls">
                <div class="prev"><</div>
                <div class="next">></div>
            </div>

            <!-- indicators -->
            <div class="indicator">
            </div>

          </section>
          <script src="script.js"></script>
              <!--search-->
              <div class="res">


          <form class="example" action="/action_page.py" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>

  <footer>
    <div class="main-cotent">
      <div class="left box">
        <h2>About us</h2>
        <div class="content">
          <p>50% population of Pakistan don’t take their prescribed medication because they can’t afford it. With soaring copays, deductibles, and insurance costs,</p>
          <div class="social">
            <a href="#"><span class="fab fa-facebook-f"></span></a>
            <a href="https://twitter.com/YousafSarwar"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="https://youtu.be/k60OSl5quQ8"><span class="fab fa-youtube"></span></a>

          </div>
        </div>
      </div>
      <div class="center box">
        <h2>Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker"></span>
            <span class="text">Dhing shah,pial road kasur</span>

          </div>
          <div class="place">
            <span class="fas fa-phone"></span>
            <span class="text">+923090995731</span>

          </div>
          <div class="place">
            <span class="fas fa-envelope"></span>
            <span class="text">yousaf6593@gmail.com</span>

          </div>
        </div>
      </div>
  <div class="right box">
    <h2>Constact Us</h2>
    <div class="content">
      <form class="" action="index.html" method="post">
        <div class="email2">


        <div class="text" >Email </div>
            <input type="email  " required>


    </div>
    <div class="msg">
    <div class="text">Meassage</div>
        <textarea name="feadback" rows="2" cols="25" required></textarea>
        </div>
        <div class="btn2">
          <button type="button" >Send</button>
        </div>
      </form>
    </div>

  </div>
  </div>
  </footer>


  </body>
</html>
